@model Zowari.Models.ViewModels.LatestTopicsForumsViewModel

<div>
    @foreach (var topic in Model.TopicResponse.Data.ToList())
    {
        <div class="col-sm-12">
           
        </div>
    }
</div>
<div id="paginationDiv" class="mt-6">
    @await Html.PartialAsync("_PagingPartial", Model.TopicResponse.PagingMetaData).ConfigureAwait(false)
</div>