@model Zowari.Models.ViewModels.LatestTopicsForumsViewModel

<div>
    @foreach (var topic in Model.TopicResponse.Data.ToList())
    {
        <div class="row col-md-12">
            <div class="col-md-8">
                <img style="float: left; margin-right: 10px;" src="/profile_pictures/blank.profile.picture.png"
                     alt="" width="60" height="60">
                <h6 class="">@topic.Body.Trim()</h6>
            </div>
            
            <hr>
        </div>
    }
</div>
<div id="paginationDiv" class="mt-6">
    @await Html.PartialAsync("_PagingPartial", Model.TopicResponse.PagingMetaData).ConfigureAwait(false)
</div>