@model Application.Boundary.Requests.Identity.ForgotPasswordRequest

@{
    ViewBag.Title = "Zowari | Forgot Password";
    Layout = "_Layout";
}

<h2>Forgot Password</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ForgotPassword" asp-controller="Password">
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email Address</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            
            <div class="form-group mt-3">
                <input type="submit" value="Request Password Reset" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}