@model dynamic

@{
    ViewBag.Title = "Zowari | Forgot Password Confirmation";
    Layout = "_Layout";
    var email = ViewData["email"];
    var errors = ViewData["PageErrors"] as List<string>;
}

<div>
    @await Html.PartialAsync("_ErrorPartial", errors).ConfigureAwait(false)
    <h3>Password reset link sent to @email</h3>
</div>