@model dynamic

@{
    ViewBag.Title = "Zowari | Forgot Password";
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Password reset link sent to</title>
</head>
<body>
<div>
      
</div>
</body>
</html>