
@{
    ViewBag.Title = "Zowari | Reset Password Confirmation";
    Layout = "_Layout";
}

<div>
    <h4>
        Your password has been successfully reset. Proceed to
        <a class="" asp-controller="Account" asp-action="Login">Login</a>
    </h4>
</div>