@model Application.Boundary.Requests.Identity.ResetPasswordRequest

@{
    ViewBag.Title = "Zowari | Reset Password";
    Layout = "_Layout";
    var errors = ViewData["PageErrors"] as List<string>;
}
<h3>Reset Password</h3>
<hr />
@await Html.PartialAsync("_ErrorPartial", errors).ConfigureAwait(false)
<div class="row">
    <div class="col-md-4">
        <form asp-action="ResetPassword">
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Email" class="form-control" />
            <input type="hidden" asp-for="Token" class="form-control" />
            
            <div class="form-group">
                <input type="submit" value="Reset Password" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}